@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin feature-box {
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, $color-grey-dark, $color-primary-dark);

  &-2 {
    background-image: linear-gradient(to right, $color-primary-dark, $color-black);
  }

  &-3 {
    background-image: linear-gradient(to right, $color-black, $color-primary-dark);
  }

  &-4 {
    background-image: linear-gradient(to left, $color-grey-dark, $color-primary-dark);
  }

  &-icon {
    background-image: linear-gradient(to right, $color-primary-light, $color-third-dark);
  }
}

//MEDIA QUERY MANMAGER
/* 
0-600PX: PHONE
600-900PX: TABLET PORTRAIT 
900-1200PX: TABLET LANDSCAPE 
(1200-1800PX): NORMAL STYLES APPLY 
1800PX+ : BIG DESKTOP 
*/

@mixin respond-phone {
  @media (max-width: 600px) {
    @content;
  }
}

/*
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 600px) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 900px) {
      @content;
    }
  }

  @if $breakpoint == tab-land {
    @media (max-width: 1200px) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    @media (min-width: 1800px) {
      @content;
    }
  }
}
