// colors
$color-primary: #28b485;
$color-primary-light: #7ed56f;
$color-primary-dark: #55c57a;

$color-grey-light1: #f7f7f7;

$color-grey-light: #eee;
$color-grey-dark: #777; //grey
$color-white: #fff; //white
$color-black: #000;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-third-light: #2998ff;
$color-third-dark: #5643fa;

//Font
$defult-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$horizontal-gutter: 6rem;
