// colors
$color-primary: #28b485;
$color-primary-light: #7ed56f;
$color-primary-dark: #55c57a;

$color-grey-dark: #777; //grey
$color-white: #fff; //white
$color-black: #000;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$horizontal-gutter: 6rem;
