*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@keyframes MoveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-3.5rem) rotate(180deg); }
  80% {
    transform: translateX(1.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes MoveInRight {
  0% {
    opacity: 0;
    transform: translateX(3.5rem); }
  80% {
    transform: translateX(-1.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes MoveInButton {
  0% {
    opacity: 0;
    transform: translateY(9.9rem); }
  80% {
    transform: translateY(-0.7rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes logoSpin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes logoSpinH {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

body {
  font-family: 'lato', sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.primary-heading {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .primary-heading--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: MoveInLeft;
    animation-duration: 2.8s;
    animation-timing-function: ease-in;
    /*  
    animation-delay: 0.5;
    animation-iteration-count: 3;
    */ }
  .primary-heading--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: MoveInRight 2.2s ease-in; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #2998ff, #5643fa);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-secondary-2 {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #2998ff, #ff7730);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s; }
  .heading-secondary-2:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.third-heading {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 6rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-top-huge {
  margin-top: 10rem; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 30rem;
  transition: all 0.3s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 0.8rem 1.8rem rgba(0, 0, 0, 0.3); }
  .btn:hover::after {
    transform: scaleX(2.5) scaleY(1.9);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px); }
  .btn:active-btn--green, .btn:focus-btn--green {
    box-shadow: 0 0.3rem 1rem rgba(40, 180, 133, 0.3); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #28b485;
  color: #fff; }
  .btn--green::after {
    background-color: #28b485; }

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 30rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.9s; }

.btn--animated {
  animation: MoveInButton 1s ease-out 1.8s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #28b485;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #28b485;
  padding: 3px;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #28b485;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  transform: translateY(-2px); }

.btn-text:active {
  transform: translateY(0);
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3); }

.composition {
  position: relative; }
  .composition-photo {
    width: 70%;
    box-shadow: 0 1.5rem 4rem rgba(119, 119, 119, 0.4);
    border-radius: 15px;
    position: absolute;
    z-index: 1;
    transition: 0.4s;
    outline-offset: 1rem; }
    .composition-photo--p1 {
      left: 0;
      top: -1rem; }
    .composition-photo--p2 {
      right: -19%;
      top: 6rem; }
    .composition-photo--p3 {
      left: 20%;
      top: 19rem; }
    .composition-photo:hover {
      outline: 0.8rem solid #28b485;
      transform: scale(1.2) translateY(5px);
      box-shadow: 0 3.5rem 8rem rgba(119, 119, 119, 0.65);
      z-index: 2; }
  .composition:hover .composition-photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  color: orangered;
  padding: 2.5rem;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all 0.5s; }
  .feature-box-icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #777, #55c57a); }
    .feature-box-icon-2 {
      background-image: linear-gradient(to right, #55c57a, #000); }
    .feature-box-icon-3 {
      background-image: linear-gradient(to right, #000, #55c57a); }
    .feature-box-icon-4 {
      background-image: linear-gradient(to left, #777, #55c57a); }
    .feature-box-icon-icon {
      background-image: linear-gradient(to right, #7ed56f, #5643fa); }
  .feature-box:hover {
    transform: translateY(-1.7rem) scale(1.09); }
  .feature-box-text {
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #777, #55c57a); }
    .feature-box-text-2 {
      background-image: linear-gradient(to right, #55c57a, #000); }
    .feature-box-text-3 {
      background-image: linear-gradient(to right, #000, #55c57a); }
    .feature-box-text-4 {
      background-image: linear-gradient(to left, #777, #55c57a); }
    .feature-box-text-icon {
      background-image: linear-gradient(to right, #7ed56f, #5643fa); }
  .feature-box-text-2 {
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #777, #55c57a); }
    .feature-box-text-2-2 {
      background-image: linear-gradient(to right, #55c57a, #000); }
    .feature-box-text-2-3 {
      background-image: linear-gradient(to right, #000, #55c57a); }
    .feature-box-text-2-4 {
      background-image: linear-gradient(to left, #777, #55c57a); }
    .feature-box-text-2-icon {
      background-image: linear-gradient(to right, #7ed56f, #5643fa); }
  .feature-box-text-3 {
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #777, #55c57a); }
    .feature-box-text-3-2 {
      background-image: linear-gradient(to right, #55c57a, #000); }
    .feature-box-text-3-3 {
      background-image: linear-gradient(to right, #000, #55c57a); }
    .feature-box-text-3-4 {
      background-image: linear-gradient(to left, #777, #55c57a); }
    .feature-box-text-3-icon {
      background-image: linear-gradient(to right, #7ed56f, #5643fa); }
  .feature-box-text-4 {
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #777, #55c57a); }
    .feature-box-text-4-2 {
      background-image: linear-gradient(to right, #55c57a, #000); }
    .feature-box-text-4-3 {
      background-image: linear-gradient(to right, #000, #55c57a); }
    .feature-box-text-4-4 {
      background-image: linear-gradient(to left, #777, #55c57a); }
    .feature-box-text-4-icon {
      background-image: linear-gradient(to right, #7ed56f, #5643fa); }

.card {
  perspective: 1500rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 54rem; }
  .card-side {
    font-size: 2.5rem;
    font-weight: bolder;
    color: #777;
    height: 54rem;
    transition: all 1.4s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    overflow: hidden; }
    .card-side--front {
      font-size: 2.5rem;
      font-weight: bolder;
      color: #777;
      background-color: #fff; }
    .card-side-1--front {
      box-shadow: 0 4.5rem 8rem rgba(255, 119, 48, 0.8); }
    .card-side-2--front {
      box-shadow: 0 4.5rem 8rem rgba(85, 197, 122, 0.8); }
    .card-side-3--front {
      box-shadow: 0 4.5rem 8rem rgba(86, 67, 250, 0.8); }
    .card-side--back {
      transform: rotateY(180deg); }
      .card-side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #55c57a); }
      .card-side--back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #5643fa); }
      .card-side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #ff7730); }
  .card:hover .card-side--front {
    transform: rotateY(-180deg);
    box-shadow: 0 4.5rem 4rem rgba(85, 197, 122, 0.6); }
  .card:hover .card-side--back {
    transform: rotateY(0deg) scale(1.2); }
    .card:hover .card-side--back-1 {
      box-shadow: 0 4.5rem 8rem rgba(255, 119, 48, 0.4); }
    .card:hover .card-side--back-2 {
      box-shadow: 0 4.5rem 8rem rgba(85, 197, 122, 0.4); }
    .card:hover .card-side--back-3 {
      box-shadow: 0 4.5rem 8rem rgba(86, 67, 250, 0.4); }
  .card-picture {
    background-size: cover;
    height: 230px;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 88%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 88%, 0 100%); }
    .card-picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg); }
    .card-picture--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #55c57a), url(../img/nat-6.jpg); }
    .card-picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg); }
  .card-heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 95px;
    right: 20px;
    width: 64%; }
  .card-heading-span--1 {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: 0.7rem 1rem;
    background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8)); }
  .card-heading-span--2 {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: 0.7rem 1rem;
    background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(85, 197, 122, 0.8)); }
  .card-heading-span--3 {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: 0.7rem 1rem;
    background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(255, 119, 48, 0.8)); }
  .card-details {
    padding: 2rem; }
    .card-details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;
      padding-inline-start: 0; }
      .card-details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1.5rem; }
        .card-details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card-cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card-price-box {
    text-align: center;
    margin-bottom: 8rem;
    color: #fff; }
  .card-price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card-price-value {
    font-size: 6rem;
    font-weight: 200; }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 15px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  .story > * {
    transform: skewX(12deg); }
  .story-shape {
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(35% at 50% 50%);
    -webkit-clip-path: circle(40% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative; }
  .story-img {
    position: fixed;
    height: 100%;
    left: -38px;
    transform: scale(1.2);
    transition: all 0.8s; }
  .story-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all 0.8s; }
  .story:hover .story-caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story-img {
    transform: scale(1);
    filter: blur(3px) brightness(87%) sepia(40%); }

.bg-video {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 96.8%;
  z-index: -1;
  opacity: 0.3;
  overflow: hidden;
  margin-left: 3rem; }
  .bg-video-content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

/*.form {
  &-group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &-input {
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    border-radius: 3px;
    background-color: rgab($color-white, 0.5);
    border: none;
    font-family: inherit;
    color: inherit;
    border-bottom: 2px solid transparent;
    width: 45%;
    display: block;
    transition: all 0.8s;

    &::-webkit-input-placeholder {
      color: $color-grey-dark2;
    }

    &:focus:invalid {
      border-bottom: 2px solid $color-secondary-dark;
    }

    &:focus {
      outline: none;
      background-color: linen;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      border-bottom: 2px solid $color-primary;
      font-size: 1.6rem;
      font-weight: 700;
    }
  }

  &-label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.7s;
  }

  &-input:placeholder-shown + &-label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &-radio-input {
    display: none;
  }

  &-radio-group {
    display: flex;
    align-items: center;
  }

  &-radio-label {
    font-size: $defult-font-size;
    cursor: pointer;
    position: relative;
    display: flex;
  }

  &-radio-button {
    height: 2rem;
    width: 2rem;
    border: 5px solid $color-primary;
    border-radius: 50%;
    display: inline-block;

    &::after {
      content: '';
      display: block;
      height: 1rem;
      width: 1rem;
      border-radius: 50%;
      position: absolute;
      top: 4px;
      left: 4px;

      background-color: $color-primary;
      opacity: 0;
      transition: opacity 0.1s;
    }
  }

  &-radio-input:checked ~ &-radio-label &-radio-button:after {
    opacity: 1;
  }
}*/
.form-group:not(:last-child) {
  margin-bottom: 2rem; }

.form-group-row-radio {
  display: flex;
  margin-bottom: 2rem; }

.form-radio-group:last-child {
  margin-left: 1rem; }

.form-input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 3px;
  background-color: rgab(#fff, 0.5);
  border: none;
  font-family: inherit;
  color: inherit;
  border-bottom: 2px solid transparent;
  width: 45%;
  display: block;
  transition: all 0.8s; }
  .form-input::-webkit-input-placeholder {
    color: #999; }
  .form-input:focus:invalid {
    border-bottom: 2px solid #ff7730; }
  .form-input:focus {
    outline: none;
    background-color: linen;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #28b485;
    font-size: 1.6rem;
    font-weight: 700; }

.form-label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.7s; }

.form-input:placeholder-shown + .form-label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form-radio-input {
  display: none; }

.form-radio-label {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 1.6rem;
  line-height: 1.6rem;
  position: relative; }

.form-radio-button {
  height: 2.2rem;
  width: 2.2rem;
  border: 5px solid #28b485;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px; }
  .form-radio-button::after {
    content: '';
    display: block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: #28b485;
    opacity: 0;
    transition: opacity 0.1s; }

.form-radio-input:checked ~ .form-radio-label .form-radio-button:after {
  opacity: 1; }

.popup-close:link, .popup-close:visited {
  color: #eee;
  position: absolute;
  top: -4.5rem;
  right: -2.5rem;
  font-size: 3rem;
  text-decoration: none;
  display: inline-block; }
  .popup-close:link:hover, .popup-close:visited:hover {
    color: #28b485; }

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.7s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: 8px; }
  .popup-left {
    width: 33.3333333%;
    display: table-cell; }
  .popup-right {
    width: 66.6666667%;
    margin: 5rem 8rem;
    display: table-cell;
    vertical-align: middle;
    position: relative; }
  .popup-img {
    display: flex;
    width: 100%; }
  .popup-text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #eee;
    hyphens: auto; }

.row {
  max-width: 114rem;
  margin: 0 auto;
  margin-bottom: 7rem; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row [class^='col-'] {
    float: left; }
    .row [class^='col-']:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 *6rem); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(85, 197, 122, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header-logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header-logo {
    height: 3.5rem;
    animation: logoSpin 3.5s; }
  .header-logo:hover {
    animation: logoSpinH 3.5s; }
  .header-text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.footer {
  background-color: #333;
  padding: 4rem 4rem 10rem 4rem;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all 0.8s; }
  .footer-link:link, .footer-link:visited {
    color: #f7f7f7;
    text-decoration: none;
    text-transform: uppercase;
    transform: rotate(10deg); }
  .footer-link:hover, .footer-link:active {
    color: #28b485;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.8);
    transform: rotate(10deg) scale(1.3);
    display: inline-block; }
  .footer-logo {
    height: 140px;
    flex-grow: 0; }

.columns {
  margin-top: 50px;
  width: 100%;
  position: relative;
  display: flex; }

.column {
  width: 50%;
  height: 20px;
  border-top: 1px solid #333;
  padding-top: 20px;
  display: flex; }

.footer-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  color: white;
  width: 100%; }

.spacer {
  width: 40px; }

.navigation-checkbox {
  display: none; }

.navigation-button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 202;
  box-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-align: center;
  transition: all 0.5s; }

.navigation-background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.98), rgba(255, 119, 48, 0.98));
  z-index: 200;
  transition: transform 1.2s cubic-bezier(1, 1.75, 0.88, 0.45); }
  .navigation-background:active {
    transform: scale(110); }

.navigation-nav {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 201;
  opacity: 0;
  transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation-list {
  margin-top: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: -50%;
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation-item {
  margin: 1rem; }

.navigation-link:link, .navigation-link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 230%;
  transition: all 0.5s;
  flex-direction: row; }
  .navigation-link:link span, .navigation-link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation-link:active, .navigation-link:hover {
  transform: scale(1.1) rotate(-3deg) translateX(4rem);
  background-position: 100%;
  color: #2998ff;
  box-shadow: -2rem 1.5rem 2rem rgba(0, 0, 0, 0.6); }

.navigation-checkbox:checked ~ .navigation-background {
  transform: scale(80); }

.navigation-checkbox:checked ~ .navigation-nav {
  width: 100%;
  opacity: 1; }

.navigation-icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation-icon, .navigation-icon::before, .navigation-icon::after {
    width: 3rem;
    height: 2px;
    background-color: rgba(255, 119, 48, 0.98);
    display: inline-block; }
  .navigation-icon::before, .navigation-icon::after {
    content: '';
    position: absolute;
    left: 0;
    transition: all 0.4s; }
  .navigation-icon::before {
    top: -0.4rem; }
  .navigation-icon::after {
    top: 0.4rem; }

.navigation-button:hover .navigation-icon::before {
  top: -1.2rem; }

.navigation-button:hover .navigation-icon::after {
  top: 1.2rem; }

.navigation-checkbox:checked + .navigation-button .navigation-icon {
  background-color: transparent; }

.navigation-checkbox:checked + .navigation-button .navigation-icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation-checkbox:checked + .navigation-button .navigation-icon::after {
  top: 0;
  transform: rotate(-135deg); }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0 30rem 0;
  margin-top: -20vh; }

.section-features {
  padding: 30rem 0;
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(255, 119, 48, 0.8)), url(../img/nat-4.jpg);
  background-size: 100%;
  transform: skewY(-7deg);
  margin-top: -20rem; }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  background-color: #f7f7f7;
  padding: 20rem 0 10rem 0;
  margin-top: -15rem; }

.section-stories {
  padding: 15rem 0;
  position: relative; }

.section-book {
  padding: 25rem 0 15rem 0;
  background-image: linear-gradient(to right bottom, rgba(86, 67, 250, 0.2), rgba(8, 178, 194, 0.6)); }

.booking {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 49.8%, rgba(86, 67, 250, 0) 50%), url(../img/nat-10.jpg);
  background-size: cover;
  border-radius: 15px;
  box-shadow: 0 2.5rem 8rem rgba(0, 0, 0, 0.6);
  height: 55rem; }
  .booking-form {
    width: 50%;
    padding: 6rem; }
