* *::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@keyframes MoveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-3.5rem) rotate(180deg); }
  80% {
    transform: translateX(1.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes MoveInRight {
  0% {
    opacity: 0;
    transform: translateX(3.5rem); }
  80% {
    transform: translateX(-1.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes MoveInButton {
  0% {
    opacity: 0;
    transform: translateY(9.9rem); }
  80% {
    transform: translateY(-0.7rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes logoSpin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes logoSpinH {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

body {
  font-family: 'lato', sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.primary-heading {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .primary-heading--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: MoveInLeft;
    animation-duration: 2.8s;
    animation-timing-function: ease-in;
    /*  
    animation-delay: 0.5;
    animation-iteration-count: 3;
    */ }
  .primary-heading--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: MoveInRight 2.2s ease-in; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #2998ff, #5643fa);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.third-heading {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 6rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-top-huge {
  margin-top: 10rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 30rem;
  transition: all 0.3s;
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 0.8rem 1.8rem rgba(0, 0, 0, 0.3); }
  .btn:hover::after {
    transform: scaleX(2.5) scaleY(1.9);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px); }
  .btn:active-btn--green {
    box-shadow: 0 0.3rem 1rem rgba(40, 180, 133, 0.3); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #28b485;
  color: #fff; }
  .btn--green::after {
    background-color: #28b485; }

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 30rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.9s; }

.btn--animated {
  animation: MoveInButton 1s ease-out 1.8s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #28b485;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #28b485;
  padding: 3px;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #28b485;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  transform: translateY(-2px); }

.btn-text:active {
  transform: translateY(0);
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3); }

.composition {
  position: relative; }
  .composition-photo {
    width: 70%;
    box-shadow: 0 1.5rem 4rem rgba(119, 119, 119, 0.4);
    border-radius: 15px;
    position: absolute;
    z-index: 1;
    transition: 0.4s;
    outline-offset: 1rem; }
    .composition-photo--p1 {
      left: 0;
      top: -1rem; }
    .composition-photo--p2 {
      right: -19%;
      top: 6rem; }
    .composition-photo--p3 {
      left: 20%;
      top: 19rem; }
    .composition-photo:hover {
      outline: 0.8rem solid #28b485;
      transform: scale(1.2) translateY(5px);
      box-shadow: 0 3.5rem 8rem rgba(119, 119, 119, 0.65);
      z-index: 2; }
  .composition:hover .composition-photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  color: orangered;
  padding: 2.5rem;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all 0.5s; }
  .feature-box-icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #7ed56f, #5643fa); }
  .feature-box:hover {
    transform: translateY(-1.7rem) scale(1.09); }
  .feature-box-text {
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #777, #55c57a); }
  .feature-box-text-2 {
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #55c57a, #000); }
  .feature-box-text-3 {
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #000, #55c57a); }
  .feature-box-text-4 {
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to left, #777, #55c57a); }

.card {
  perspective: 1500rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 54rem; }
  .card-side {
    font-size: 2.5rem;
    font-weight: bolder;
    color: #777;
    height: 54rem;
    transition: all 1.4s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    overflow: hidden; }
    .card-side--front {
      font-size: 2.5rem;
      font-weight: bolder;
      color: #777;
      background-color: #fff; }
    .card-side-1--front {
      box-shadow: 0 4.5rem 8rem rgba(255, 119, 48, 0.8); }
    .card-side-2--front {
      box-shadow: 0 4.5rem 8rem rgba(85, 197, 122, 0.8); }
    .card-side-3--front {
      box-shadow: 0 4.5rem 8rem rgba(86, 67, 250, 0.8); }
    .card-side--back {
      transform: rotateY(180deg); }
      .card-side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #55c57a); }
      .card-side--back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #5643fa); }
      .card-side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #ff7730); }
  .card:hover .card-side--front {
    transform: rotateY(-180deg);
    box-shadow: 0 4.5rem 4rem rgba(85, 197, 122, 0.6); }
  .card:hover .card-side--back {
    transform: rotateY(0deg) scale(1.2); }
    .card:hover .card-side--back-1 {
      box-shadow: 0 4.5rem 8rem rgba(255, 119, 48, 0.4); }
    .card:hover .card-side--back-2 {
      box-shadow: 0 4.5rem 8rem rgba(85, 197, 122, 0.4); }
    .card:hover .card-side--back-3 {
      box-shadow: 0 4.5rem 8rem rgba(86, 67, 250, 0.4); }
  .card-picture {
    background-size: cover;
    height: 230px;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 88%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 88%, 0 100%); }
    .card-picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg); }
    .card-picture--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #55c57a), url(../img/nat-6.jpg); }
    .card-picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg); }
  .card-heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 95px;
    right: 20px;
    width: 64%; }
  .card-heading-span--1 {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: 0.7rem 1rem;
    background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8)); }
  .card-heading-span--2 {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: 0.7rem 1rem;
    background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(85, 197, 122, 0.8)); }
  .card-heading-span--3 {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: 0.7rem 1rem;
    background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(255, 119, 48, 0.8)); }
  .card-details {
    padding: 2rem; }
    .card-details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;
      padding-inline-start: 0; }
      .card-details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1.5rem; }
        .card-details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card-cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card-price-box {
    text-align: center;
    margin-bottom: 8rem;
    color: #fff; }
  .card-price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card-price-value {
    font-size: 6rem;
    font-weight: 200; }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 15px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  .story > * {
    transform: skewX(12deg); }
  .story-shape {
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(35% at 50% 50%);
    -webkit-clip-path: circle(40% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg); }
  .story-image {
    height: 100%;
    position: absolute;
    left: -38px; }

.row {
  max-width: 114rem;
  margin: 0 auto;
  margin-bottom: 7rem; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row [class^='col-'] {
    float: left; }
    .row [class^='col-']:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 *6rem); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(85, 197, 122, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header-logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header-logo {
    height: 3.5rem;
    animation: logoSpin 3.5s; }
  .header-logo:hover {
    animation: logoSpinH 3.5s; }
  .header-text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;
  padding-bottom: 20rem; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(255, 119, 48, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: 20rem; }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem -15rem; }

.section-stories {
  padding: 15rem 0;
  background-color: #f7f7f7; }
