.footer {
  background-color: $color-grey-dark3;
  padding: 4rem 4rem 8rem 0;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  flex-direction: column;

  &-logo {
    height: 140px;
    flex-grow: 0;
  }
}

.columns {
  margin-top: 50px;
  width: 100%;
  position: relative;
  display: flex;
}

.column {
  width: 50%;
  height: 20px;
  border-top: 1px solid $color-grey-dark3;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
}

.footer-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  color: white;
}

.spacer {
  width: 40px;
  display: flex;
  flex-direction: row;
}

.footer-link {
  text-decoration: none;
}
