.footer {
  background-color: $color-grey-dark-3;
  padding: 4rem 4rem 10rem 4rem;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all 0.8s;

  &-link {
    &:link,
    &:visited {
      color: $color-grey-light-1;
      text-decoration: none;
      text-transform: uppercase;
      transform: rotate(10deg);
    }

    &:hover,
    &:active {
      color: $color-primary;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.8);
      transform: rotate(10deg) scale(1.3);
      display: inline-block;
    }
  }

  &-logo {
    height: 140px;
    flex-grow: 0;
  }
}

.columns {
  margin-top: 50px;
  width: 100%;
  position: relative;
  display: flex;
}

.column {
  width: 50%;
  height: 20px;
  border-top: 1px solid $color-grey-dark-3;
  padding-top: 20px;
  display: flex;
}

.footer-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  color: white;
  width: 100%;
}

.spacer {
  width: 40px;
}
