.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 30rem;
    transition: all 0.5s;
    position: relative;
    font-size: 1.6rem;
  }

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 0.8rem 1.8rem rgba($color-black, 0.3);

    &::after {
      transform: scaleX(2.5) scaleY(1.9);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.3rem 1rem rgba($color-black, 0.3);
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark;

    &::after {
      background-color: $color-white;
    }
  }

  &::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 30rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.9s;
  }

  &--animated {
    animation: MoveInButton 1s ease-out 1.8s;
    animation-fill-mode: backwards;
  }
}
