.composition {
  position: relative;

  &-photo {
    width: 70%;
    box-shadow: 0 1.5rem 4rem rgba($color-grey-dark, 0.4);
    border-radius: 15px;
    position: absolute;
    z-index: 1;
    transition: 0.4s;
    outline-offset: 1rem;

    &--p1 {
      left: 0;
      top: -1rem;
    }

    &--p2 {
      right: -19%;
      top: 6rem;
    }

    &--p3 {
      left: 20%;
      top: 19rem;
    }

    &:hover {
      outline: 0.8rem solid $color-primary;
      transform: scale(1.2) translateY(5px);
      box-shadow: 0 3.5rem 8rem rgba($color-grey-dark, 0.65);
      z-index: 2;
    }
  }
  &:hover &-photo:not(:hover) {
    transform: scale(0.95);
  }
}
