.feature-box {
  background-color: rgba($color-white, 0.8);
  font-size: 1.5rem;
  color: orangered;
  padding: 2.5rem;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
  transition: all 0.5s;

  &-icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, $color-primary-light, $color-third-dark);
  }

  &:hover {
    transform: translateY(-1.7rem) scale(1.09);
  }
  &-text {
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, $color-grey-dark, $color-primary-dark);
  }

  &-text-2 {
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, $color-primary-dark, $color-black);
  }

  &-text-3 {
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, $color-black, $color-primary-dark);
  }

  &-text-4 {
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to left, $color-grey-dark, $color-primary-dark);
  }
}
