.feature-box {
  background-color: rgba($color-white, 0.8);
  font-size: 1.5rem;
  color: orangered;
  padding: 2.5rem;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
  transition: all 0.6s;

  &-icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    @include feature-box;
  }

  &:hover {
    transform: translateY(-1.7rem) scale(1.09);
  }
  &-text {
    @include feature-box;
  }

  &-text-2 {
    @include feature-box;
  }

  &-text-3 {
    @include feature-box;
  }

  &-text-4 {
    @include feature-box;
  }
}
