.popup-close {
  &:link,
  &:visited {
    color: $color-grey-light;
    position: absolute;
    top: -4.5rem;
    right: -2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all 0.7s;
    line-height: 1;

    &:hover {
      color: $color-primary;
    }
  }
}

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, 0.8);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: all 1s;

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &-content {
    opacity: 1;
    transform: scale(1.01);
  }

  &-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    overflow: hidden;
    border-radius: 8px;
    opacity: 0;
    transform: scale(0.5);
    transition: all 0.6s cubic-bezier(1, 2.95, 0.48, 0.45);
  }

  &-left {
    width: 33.3333333%;
    display: table-cell;
  }

  &-right {
    width: 66.6666667%;
    margin: 5rem 8rem;
    display: table-cell;
    vertical-align: middle;
    position: relative;
  }

  &-img {
    display: flex;
    width: 100%;
  }

  &-text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-grey-light;

    hyphens: auto;
  }
}
